.eval-bar {
    width: 20px;
    height: 300px;
    border: 1px solid black;
    margin: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eval-bar p {
    z-index: 10;
    color: white;
    font-family: "Comic Sans MS", "Times New Roman";
    font-size: 9px;
    text-align: center;
}

.eval-bar .fill {
    width: 20px;
    height: 150px;
    position: absolute;
    transition: 1s;
}

.eval-bar .fill.red {
    background-color: red;
}

.eval-bar .fill.blue {
    background-color: blue;
}
